/* geral */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #323232;
    border:none;
}

input, label{
    display: block;
    width: 100%;
    
}

input{
    outline:none;
}

a{
    color: rgb(4, 65, 44);
}

body{
    padding-top:5vh; /* view higt 5% da tela */
    background-size: cover;
    background-image: url(/imgs/ranger-4df6c1b6.png);
    background-position-y: -150px ;
}


/*form*/

#maincontainer{
    width:500px;
    margin-left: auto;
    margin-right: auto;
   background-color: rgba(255, 255, 255, 0.315);
    padding: 25px ;

}
.cadastro{
    text-align: center;
    margin-bottom: 25px;
    font-size:1.6rem; /*adaptada ao elemento root */
}

form{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;


}

.fullbox{
    flex:1 1 100%;
    position:relative;
}

.Halfbox{
    flex:1 1 45%;
    position:relative;
}

.spacing{
    margin-right: 2.5%;
}

labels{
    font-weight: bold;
    font-size:.8rem;
}

input{
    border-bottom: 2px solid #323232;
    padding: 10px;
    margin-bottom: 80px;
    font: .9rem;
}

input:focus{
    border-color:#E60084;
}

input[ type="submite"]{
    background-color:#08e4d1;
    color: #FFF;
    border: none;
    cursor: pointer;   
    border-radius: 20px;
    height:40px;
    cursor: pointer;
}

#agreement{
    margin-right: 5px;
}

#input-div:before, .input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: #2432ba;
	transition: .4s;
}